.env
.venv
.pytest_cache
.pytest_cache/
__pycache__
__pycache__/
*.pyc
qdrant_local/
.cpython-312.pyc
v1/
.deepeval
.env
.coverage
qdrant_local_test_phase11\
cmd.txt
app/__pycache__/
tests/__pycache__/
.coverage
data/qdrant_local/
data/kuzu_local/
dump.rdb